---
layout: page
title: Airbnb
description: "A New Airbnb Feature - Guestbook"
disciplines: UX/UI, Feature design, Information Architecture
year: 2022
thumbnail: "/assets/images/work/airbnb/airbnb_thumbnail.jpg"

website:
  button_text: View full project
  url: https://www.behance.net/gallery/137171571/Airbnb-Guestbook-Feature-UX-UI

---

<div class="project-content">

  <div class="project-info">
    <section class="project-intro">
        <p>We were prompted to create a feature for a pre-established service. Our goal was to design a useful and fresh feature, taking into account the core values, design system and objectives by which a company is governed. We decided to create a feature for Airbnb - The Airbnb Guestbook.</p>
        <p>While Airbnb continues their efforts to focus on the experience and community aspect of their service, the actual usage of it doesn’t reflect that when looking for a place to stay at. We felt we could bring people together by giving them a way to share their experiences with one another — recommend a dining spot, a mountain trail, a place to have a good night out — like they would share with a friend or their own family.
        This would not only improve the guest’s experience, since they would have more to see and do, it would also create a bigger interest in visiting a certain place or city, and create a sense of community around shared experiences.</p>
        <p>Our feature allows users to share with other guests the experiences they have had not only at the residence but also at the place they are visiting, encouraging others to visit and experience the same. </p>
    </section>
    <aside class="project-details">
        
        <div class="project-detail">
          <h3 class="title-label">Disciplines</h3>
          {% assign discipline_list = page.disciplines | split: ','  %}
          {% for discipline in discipline_list %}
          <span class="keep-line-wrap">{{ discipline }}{% if forloop.last == false %},{% endif %}</span>
          {% endfor %}
        </div>
          
        <div class="project-detail">
            <h3 class="title-label">Year</h3>
            <p>{{ page.year }}</p>
        </div>

        <div>
          <a href="{{ page.website.url }}" class="button" target="_blank">{{ page.website.button_text }}</a>
        </div>
    </aside>
  </div>

  <section class="project-images">
    <img class="img-1" src="{{ "assets/images/work/airbnb/airbnb_screens1.jpg" | relative_url }}">
    <img class="img-2" src="{{ "assets/images/work/airbnb/airbnb_screens2.jpg" | relative_url }}">
    <img class="img-3" src="{{ "assets/images/work/airbnb/airbnb_screens3.jpg" | relative_url }}">
  </section>
</div>



