/*ABOUT ME*/
.bio {

    .profile img {
        border-radius: 10px;

        @media only screen and (min-width: 600px) {
            display: none;
        }

        @media only screen and (min-width: 1024px) {
            display: block;
        }        
    }    

    @media only screen and (min-width: 1024px) {   
        display: flex;
        align-items: center;
        
        .about {
            padding-left: 60px;
        }
    }    
}


.section {
    margin-top: 5em;

    /*SKILLS*/
    .skills-list {
        line-height: 2;
        margin-top: 2em;
    }
    
    .skills-list ul {
        padding: 0 0 0 20px;
        list-style-type: disc;
        margin: 0;
    }

    @media only screen and (min-width: 600px) {

        margin-top: 6em;

        .skills {
            display: flex;
            justify-content: space-between;

            .line-divider {
                display: block;
            }
            
            .skills-list {
                display: flex;
                width: 65%;
                margin: 0;

                ul:nth-child(2) {
                    padding-left: 90px;
                }
            }            
        }       
    }

    /*EDUCATION*/
    .course {
        margin-top: 2em;
    }
    
    .education-content {
        justify-content: space-between;
        border-bottom: #181717 solid 2px;
        padding-bottom: 1.5em;
    }
    
    .school {
        margin-top: 0%;
        color: #606060;
    }

    @media only screen and (min-width: 600px) {

        .education-content {
            justify-content: space-between;
            display: flex;
            align-items: center;

            p {
                width: 60%;
            }
        }
    }   
}