/**
 * Basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  font-kerning: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}


/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  @include rounded-corner(10px); 
}


/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}


/**
 * Lists
 */
ul {
  list-style-type: none;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 450;
}


/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    color: $text-color;
    text-decoration: line-through #EB5A47 4px;
  }
}


/**
 * Button
*/
.button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  background-color: $brand-color;
  border: solid $brand-color;
  border-radius: 8px;
  color: #ffffff;
  
  &:hover {
    color: $brand-color;
    text-decoration: none;
    border: solid $brand-color;
    background-color: transparent;
  }
}

/**
 * Container 
 */

.container {
	margin: 2% 5%;
}

/*Container Responsive*/
@media only screen and (min-width: 1024px) {

  .container {
    margin: 2% 100px;
  }

}

/**
 * Page content
 */
 .page-content {
  padding: $spacing-unit 0;
  flex: 1;
  padding-bottom: 3em;

  h2 {
    font-size: 2em;
  }
}